<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span> <b>Angular Line Awesome</b> Demo Examples</span>
</div>

<div class="content" role="main">
  <h1>Angular Line Awesome</h1>
  <p>
    Angular Line Awesome is an <a href="https://angular.io" target="_blank">Angular</a> component to
    manage <a href="https://icons8.com/line-awesome" target="_blank">Line Awesome</a> icons.
  </p>

  <h4>
    <p>
      <a href="https://www.npmjs.com/package/angular-line-awesome" target="_blank"
        >NPM Pakage and Documention</a
      >
    </p>
    <p>
      <a href="https://github.com/marco-martins/angular-line-awesome" target="_blank"
        >Github Repo</a
      >
    </p>
  </h4>

  <h2>Examples</h2>
  <table class="examples">
    <thead>
      <tr>
        <th class="text-left">Code</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <!-- example 1 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo"></la-icon>
        </td>
      </tr>

      <!-- example 2 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" size="2x"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" size="lg"></la-icon>
        </td>
      </tr>

      <!-- example 3 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" rotate="90"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" rotate="90"></la-icon>
        </td>
      </tr>

      <!-- example 4 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" flip="horizontal"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" flip="horizontal"></la-icon>
        </td>
      </tr>

      <!-- example 5 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" pull="right"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" pull="right"></la-icon>
        </td>
      </tr>

      <!-- example 6 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" spin="true"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" spin="true"></la-icon>
        </td>
      </tr>

      <!-- example 7 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" pulse="true"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" pulse="true"></la-icon>
        </td>
      </tr>

      <!-- example 8 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" border="true"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="hippo" border="true"></la-icon>
        </td>
      </tr>

      <!-- example 9 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" inverse="true"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center bg-dark">
          <la-icon icon="hippo" inverse="true"></la-icon>
        </td>
      </tr>

      <!-- example 10 -->
      <tr>
        <td>
          <code>
            &lt;la-icon icon="hippo" transform="grow-10 down-4 right-8 rotate-45 flip-v
            flip-h"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon
            icon="hippo"
            transform="grow-10 down-4 right-8 rotate-45 flip-v flip-h"
          ></la-icon>
        </td>
      </tr>

      <!-- example 11 -->
      <tr>
        <td>
          <p>
            <em>Angular bind sintaxe:</em>
          </p>
          <p>
            <code>iconName: IconProp = ['las', 'hippo'];</code>
            <br />
            <code>iconSize: string = '2x';</code>
          </p>
          <code>
            &lt;la-icon [icon]="iconName" [size]="iconSize"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon [icon]="iconName" [size]="iconSize"></la-icon>
        </td>
      </tr>

      <!-- example 12 -->
      <tr>
        <td>
          <p>
            <em>Angular bind sintaxe:</em>
          </p>
          <p>
            <code
              >transform: Transform = &#123;size: 15, x: 5, y: -5, rotate: 90, flipX: true, flipY:
              true&#125;;</code
            >
          </p>
          <code>
            &lt;la-icon icon="las hippo" [transform]="transform"&gt;&lt;/la-icon&gt;
          </code>
        </td>
        <td class="icon text-center">
          <la-icon icon="las hippo" [transform]="transform"></la-icon>
        </td>
      </tr>

      <!-- example 13 -->
      <tr>
        <td>
          <p>
            <em>Stacked icons:</em>
          </p>
          <p>
            <code>heartIcon: IconProp = &#123;prefix: 'las', iconName: 'heart'&#125;;</code>
            <br />
            <code>angularIcon: IconProp = &#123;prefix: 'lab', iconName: 'angular'&#125;;</code>
          </p>
          <pre class="code">
&lt;la-stack size="2x"&gt;
  &lt;la-icon [icon]="heartIcon" stackItemSize="2x"&gt;&lt;/la-icon&gt;
  &lt;la-icon [icon]="angularIcon" stackItemSize="1x" [inverse]="true"&gt;&lt;/la-icon&gt;
&lt;/la-stack&gt;</pre
          >
        </td>
        <td class="icon text-center">
          <la-stack size="2x">
            <la-icon [icon]="heartIcon" stackItemSize="2x"></la-icon>
            <la-icon [icon]="angularIcon" stackItemSize="1x" [inverse]="true"></la-icon>
          </la-stack>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.content -->
