body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1a1a1a;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  color: #28b351;
  font-weight: 600;
  border: 1px solid #f8f8f8;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

.text-primary {
  color: #1a1a1a !important;
}
